- unless defined?(resource)
  - resource = defined?(item) ? item : nil
- if resource && resource.errors.present?
  - model = resource.class.to_s.underscore
  %div.form-errors.alert.alert-danger
    %button.close{ "data-dismiss" => "alert", "type" => "button" } &times;
    %strong
      -#= %(#{pluralize resource.errors.count, "error"}:)
      - resource.errors.messages.each do |field, message|
        %label{ for: "#{model}_#{field}" }
          = i18n_simple_form_label(model, field)
          - if message.present?
            = message.is_a?(Array) ? message.first : message
