!!! 5
%html{ :lang => I18n.locale, :"xmlns:og" => "http://ogp.me/ns#" }
  %head
    - prefetches = ["http://www.google-analytics.com", "http://beacon-5.newrelic.com", "http://fonts.googleapis.com"]
    - prefetches.each do |domain|
      %link{ rel: "dns-prefetch", href: domain }
    %meta{ "http-equiv" => "Content-Type",    :content => "text/html; charset=utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" }
    %title= @page_title
    - icon_name = on_production_site? ? "favicon.png" : "favicon_dev.png"
    %link{ rel: "icon", type: "image/png", href: image_path(icon_name) }
    %link{ rel: "stylesheet", type: "text/css", href: "http://fonts.googleapis.com/css?family=Droid+Sans" }
    = stylesheet_link_tag "application", :media => :all, 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :head
  %body
    - if on_production_site?
      = render "shared/tracking"
    %header.container.container-header{ role: "banner" }
      = link_to project_name, root_path, class: "project-name"
    .container.container-main
      = render "shared/flashes"
      = yield
    -#= javascript_include_tag "application", 'data-turbolinks-track' => true
